.employment-title {
  text-transform: capitalize;
  font-weight: 400;

  display: flex;
  align-items: center;

  &> span {
    background: #fff;
    margin-right: 15px;
  }

  &:after {
    background: black;
    height: 2px;
    flex-grow: 1;
    content: '';
  }
}

.employment-items {
  list-style: none;
  padding-left: 20px;
}
