@import '../style/responsive';

.employment-container {
  .employment-items {
    list-style: none;
    padding-left: 20px;
  }

  .employment-section {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-bottom: 1em;

    @media #{$xs}, #{$sm} {
      flex-direction: column;
    }

    .employment-summary {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 25%;

      h4, h5 {
        margin: 10px 0;
      }

      @media #{$xs}, #{$sm} {
        width: 100%;
      }
    }

    .employment-detail {
      list-style: none;
      width: 75%;

      @media #{$xs}, #{$sm} {
        width: 100%;
      }
    }
  }
}
