@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700');

$primary-font: 'Work Sans', sans-sarif;

@mixin dash-title() {
  -webkit-print-color-adjust: exact;
  display: flex;
  align-items: center;
  margin: 10px 0;

  &> span {
    background: #fff;
    margin-right: 15px;
  }

  &:after {
    background: black;
    height: 2px;
    flex-grow: 1;
    content: '';
  }
}
