include ./resume/resume.pug

doctype html

html
  head
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', rel='stylesheet')
    link(href='/main.css', rel='stylesheet')
  body
    .content
      +resume(name, title, contact, employment, education, certificates, projects, skills)
