@import './style/typography';
@import './style/responsive';
@import './header/header';
@import './contact/contact';
@import './employment/employment';

body {
  font-family: $primary-font;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;

  @media #{$xs}, #{$sm} {
    max-width: 100%;
    margin: 0;
  }
}

.resume-sheet {
  background-color: white;
  margin: 10px;

  @media #{$xs}, #{$sm} {
    border: none;
    padding: 5px;
  }

  @media #{$md}, #{$lg}, #{$xl} {
    padding: 32px;
    flex-grow: 1;
    border: 1px solid #eee;
    max-width: 1024px;
  }
}
